<div class="glasses">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="titlepage">
                    <h2>Our Glasses</h2>
                    <p>When it comes to finding the perfect pair of glasses, it’s not just about vision—it’s about style, comfort, and enhancing one’s daily life. Whether you need prescription lenses for work, blue light blocking glasses for screen time, or a stylish pair of sunglasses, the right frames can make all the difference. Selling glasses is about matching each customer with frames that not only fit their face but also reflect their personality and lifestyle. With a wide range of designs, lens options, and frame materials, selling glasses offers an opportunity to help people look good, feel confident, and see clearly.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="sf-container"> <!-- Search and filter -->
        <div class="sf">
            <!-- Filter form -->
            <form action="/glasses" method="GET" >
                <fieldset>
                    <h3 id="search-filter">Search for products</h3>
                    <input type="text" name="search" id="search" placeholder="Press enter to search">
                    <h2 id="sof">OR</h2>
                    <h3 id="search-filter">Filter by </h3>
                </fieldset>

                <fieldset>
                    <div class="filter-box">
                        <div id="brand-filter">
                            <select name="brand" id="brands">
                                <option value="" selected disabled>Select brand</option>
                                <option value="Doir">Doir</option>
                                <option value="Guchi">Guchi</option>
                                <option value="Balenxetayga">Balenxetayga</option>
                                <option value="Doll & Banana">Doll & Banana</option>
                                <option value="Channel">Channel</option>
                                <option value="Luon Vuituoi">Luon Vuituoi</option>
                            </select>
                        </div>
                        <div id="material-filter">
                            <select name="material" id="material">
                                <option value="" selected disabled>Select material</option>
                                <option value="Titan">Titan</option>
                                <option value="Plastic">Plastic</option>
                                <option value="Stainless steel">Stainless steel</option>
                                <option value="Carbon">Carbon</option>
                            </select>
                        </div>
                        <div id="sex-filter">
                            <select name="sex" id="sex">
                                <option value="" selected disabled>Select gender</option>
                                <option value="Men">Male</option>
                                <option value="Women">Female</option>
                                <option value="Unisex">Unisex</option>
                            </select>
                        </div>
                        <div id="price-filter">
                            <select name="price" id="price">
                                <option value="" selected disabled>Select price range</option>
                                <option value="under500">$0-500</option>
                                <option value="over500">$500++</option>
                            </select>
                        </div>
                        <button class="sf-button" type="submit">Filter</button> <!-- Filter submission -->
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

    <!-- Displaying filtered products -->
    <div class="container-fluid">
        <div id="product-list" class="row">
            <!-- Products will be dynamically loaded here -->
            {{#each products}}
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="glasses_box">
                    <div class="glasses-image-container">
                        <img src={{image}} alt="#" />
                    </div>
                    <h3><span class="blu">$</span>{{price}}</h3>
                    <p>{{name}}</p>
                    <div class="des">
                        {{limit description 200}}
                    </div>
                    <div class="view">
                        <a href="glasses/{{productId}}">View more</a> 
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div id="pagination-controls" class="d-flex justify-content-center mt-4">
            <!-- Pagination buttons will be dynamically generated -->
        </div>
    </div>
</div>