<div>
    <div class="row product_info_container">
        <div class="product_info">
            <div class="product_image col-4">
                <img src="/{{product.image}}" alt="#">
            </div>
            <div class="product_details col-8">
                <h3>{{product.name}}</h3>
                <p>Price: ${{product.price}}</p>
                <p>{{product.description}}</p>
                <p>Brand: {{product.brand}}</p>
                <p>Material: {{product.material}}</p>
                <p>Sex: {{product.sex}}</p>
                <br>
                <button onclick="add_to_cart()" class="add_to_cart">Add to cart</button>
            </div>
        </div>
    </div>
</div>